<h1>Arduino time!</h1>
<p>Result: <%= @result["message"] %></p>
<!--<p><%= @command %></p>-->

 <ul>
   <li><%= link_to "Pin 3 OUTPUT", "/?three_output=true" %></li>
   <li><%= link_to "Pin 5 OUTPUT", "/?five_output=true" %></li>
   <li><%= link_to "Pin 6 OUTPUT", "/?six_output=true" %></li>
   <li><%= link_to "Pin 7 OUTPUT", "/?seven_output=true" %></li>
   <li>&nbsp</li>
   <li><%= link_to "Pin 3 On", "/?three=on" %></li>
   <li><%= link_to "Pin 3 Off", "/?three=off" %></li>
   <li>&nbsp</li>
   <li><%= link_to "Pin 5 On", "/?five=on" %></li>
   <li><%= link_to "Pin 5 Off", "/?five=off" %></li>
   <li>&nbsp</li>
   <li><%= link_to "Pin 6 On", "/?six=on" %></li>
   <li><%= link_to "Pin 6 Off", "/?six=off" %></li>
   <li>&nbsp</li>
   <li><%= link_to "Pin 7 On", "/?seven=on" %></li>
   <li><%= link_to "Pin 7 Off", "/?seven=off" %></li>


 </ul>