<h1>Arduino time!</h1>
<p><%= @result %></p>
<p><%= @command %></p>

 <ul>
   <li><%= link_to "Pin 3 OUTPUT", "/?three_output=true" %></li>
   <li><%= link_to "Pin 5 OUTPUT", "/?five_output=true" %></li>
   <li><%= link_to "Pin 6 OUTPUT", "/?six_output=true" %></li>
   <li><%= link_to "Pin 3 On", "/?three=on" %></li>
   <li><%= link_to "Pin 3 Off", "/?three=off" %></li>
   <li><%= link_to "Pin 5 On", "/?five=on" %></li>
   <li><%= link_to "Pin 5 Off", "/?five=off" %></li>
   <li><%= link_to "Pin 6 On", "/?six=on" %></li>
   <li><%= link_to "Pin 6 Off", "/?six=off" %></li>

 </ul>